@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animated-letter {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  .space {
    margin-right: 0.2em;
  }
   
  .font-cursive-h3 {
    @apply font-cursive;
  }
  


@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-zoom {
  animation: zoom 3s infinite ease-in-out;
}
